body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
    margin: 0;
    padding: 0;
}

#container1{
    background-color: rgb(40, 40, 212);
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    
}

.link{
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    margin: 12px;
    padding: 10px;
    transition: background-color 0.4s ease , transform 0.4s ease;
}
.link:hover{
    background-color: rgb(118, 166, 255);
    transform: translateY(-0.2px);
}
.link4{
    margin-right: 30px;
}
#main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.Intro{
    display: flex;
    flex-direction: column;
}
img{
    border-radius: 50%;
    width: 390px;
    height: 360px;
    margin-right: 25px;
    border: 4px solid white;
    margin-top: 15px;
}
.Intro1{
    font-size: 70px;
    
}
h1{
    margin-left: 20px;
}
.headH1{
    color: beige;
}
.Intro{
    margin-left: 20px;
}
.Intro2{
    color: rgb(228, 128, 47);
}

.Intro4{
    margin-bottom: 80px;
}
.me{
    margin-left: 20px;
    margin-bottom: 60px;
}
#skill{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
#skill h1{
    margin-bottom: 50px;
}
.skill2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 15px;
    margin-bottom: 0;
    margin-top: 0;
}
.skill3{
    display: flex;
    flex-direction: column;
    border: 1px solid blue ;
    border-radius: 8px;
    width: 405px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: rgb(40, 40, 212);
    color: white;
}
.skill3 h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5em;
}
.skill3 p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.pro{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(155, 155, 155);
    border-radius: 8px;
    background-color: white;
    margin-left: 17%;


}
.pro1 h4 , .pro2 h4 {
    margin-bottom: 0px;

}
.pro1{
    margin-bottom: 50px;
    text-align: center;
    width: 900px ;
    height: 300px;

}
.pro2{
    margin-bottom: 50px;
    text-align: center;
    width: 900px ;
    height: 300px;
}

footer{
    background-color: rgb(40, 40, 212);
    margin-top: 60px;
    margin-bottom: 80px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    
    background-color: white;
    width: 500px;
    height: 420px;
    border-radius: 8px;
    margin-left: 35%;
}
#button1{
    transition: background-color 0.6s , transform 0.6s ease , box-shadow 0.6s;
}
#button1:hover , #back-to-top:hover{
    background-color: rgb(70, 100, 240);
    box-shadow: 0 0 10px rgba(110, 137, 196, 0.7);
    transform: translateY(-1px);
}

label{
    margin-left: 20px;
    margin-top: 20px;
}

input{
    margin-left: 20px;
    width: 450px;
    height: 60px;
    border: 2px solid rgb(40, 40, 212);
    border-radius: 5px;
}

textarea{
    margin-left: 20px;
    width: 450px;
    height: 80px;
    border: 2px solid rgb(40, 40, 212);
    border-radius: 6px;

}


#button1{
    margin-left: 20px;
    margin-top: 30px ;
    margin-bottom: 30px ;
    width: 460px;
    height: 40px;
    align-items: center;
    background-color: rgb(40, 40, 212) ;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
}


#back-to-top {  
    margin-left: 85%;
    margin-bottom: 30px;
    background-color: rgb(40, 40, 212); 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.6s , transform 0.6s ease , box-shadow 0.6s;
}